<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prova 2 módulo 5</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <header>
        <h1>
            Requisições
        </h1>
    </header>
    <div id="content">
        <div>
            <h2>Teste das rotas</h2>
            <button hx-get="/ping" hx-trigger="click" hx-target="#pong">ping</button>
            <div id="pong"></div>
        </div>

        <div id="logs-content">
            <h2>Logs</h2>
            <div id="botão">
                <button hx-get="/info" hx-trigger="click,load" hx-target="#log">Atualizar logs</button>
            </div>
            <div id="logs">
                <ul id="log"></ul>
            </div> 
        </div>
    </div>
    
</body>
</html>